@using Pathfinder.Domain
@using Pathfinder.Web.UI.Models

@{
    ViewBag.Title = "Pathfinder | Tutorial";
}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div role="complementary" class="bs-sidebar hidden-print affix">
                <ul class="nav bs-sidenav">
                    <li>
                        <a href="#overview">Overview</a>
                    </li>
                    <li>
                        <a href="#starter-package">Starter packages</a>
                    </li>
                    <li>
                        <a href="#gameplay-description">Game process description</a>
                        <ul class="nav">
                            <li><a href="#gameplay-objective">Objective</a></li>
                            <li><a href="#gameplay-locations">Locations</a></li>
                            <li><a href="#gameplay-process">Game process</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#game-settings">Game settings</a>
                    </li>
                    <li>
                        <a href="#game-specification">Game specification</a>
                        <ul class="nav">
                            <li><a href="#game-specification-setup">Setup</a></li>
                            <li><a href="#game-specification-turns">Turns</a></li>
                            <li><a href="#game-specification-phases">Phases</a></li>
                            <li><a href="#game-specification-endbotconditions">Endbot Conditions</a></li>
                            <li><a href="#game-specification-scoring">Scoring</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#artifacts">Artifacts</a>
                    </li>
                    <li>
                        <a href="#starter-package-overview">Starter package overview</a>
                        <ul class="nav">
                            <li><a href="#starter-package-overview-class-location">class Location</a></li>
                            <li><a href="#starter-package-overview-class-player">class Player</a></li>
                            <li><a href="#starter-package-overview-class-chest">class Chest</a></li>
                            <li><a href="#starter-package-overview-interface-igamestate">interface IGameState</a></li>
                            <li><a href="#starter-package-overview-interface-ibot">interface IBot</a></li>
                            <li><a href="#starter-package-overview-class-mybot">class MyBot</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="bs-docs-section">
                <div>
                    <div class="page-header">
                      <h2 id="overview">Overview</h2>
                    </div>
                    <p>
                        The strategies implemented in the starter packages are only meant to serve as a starting point for making your bot.<br/>
                        In fact, it's almost the worst strategy to use. The starter packages also come with some useful functions to help you develop a smarter strategy.<br/>
                        This page will walk you through a series of improvements. With each step that you complete, your bot will get smarter.<br/>
                        The idea and basic rules are taken from <a href="http://aichallenge.org">AI Challenge - Ants</a> sponsored by Google.
                    </p>
                </div>
                <div>
                    <div class="page-header">
                        <h2 id="starter-package">Starter packages</h2>
                    </div>
                    <p>
                        Here are the starter packages that we currently offer. Each starter package is a ZIP file which contains a simple already-working entry to use as a starting point
                    </p>
                    <div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Language</th>
                                <th>Additional information</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("StarterPackage", "FileStorage", new { Type = StarterPackageType.DotNET })">.Net (C#)</a></td>
                                <td>Original package</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div>
                    <div class="page-header">
                        <h2 id="gameplay-description">Game process overview</h2>
                    </div>
                    <p>
                        Pathfinders is a multi-player strategy game.
                    </p>
                    <div>
                        <h4 id="gameplay-objective">Objective</h4>
                        <p>
                            The objective is to create a computer program (a bot) that plays the game as intelligently as possible. It is recommended that you use one of the starter packages as a starting point.
                        </p>
                    </div>
                    <div>
                        <h4 id="gameplay-locations">Locations</h4>
                        <p>
                            <img src="~/Content/images/Tutorial/Field.png" class="img-rounded"/>
                        </p>
                        <p>
                            Locations are maps with entry and exit points. The map is a grid of squares. The are some objects (houses, chests) on it where you can find diffferent artifacts.
                        </p>
                        <br/>
                        <p>
                            Tiles cost in map coordinates.
                        </p>
                        <div>
                            <img class="img-rounded" src="~/Content/images/Tutorial/map-cost.png"></img>
                        </div>
                        <br/>
                        <p>
                            Artifacts representation in map coordinates.
                        </p>
                        <div>
                            <img class="img-rounded" src="~/Content/images/Tutorial/map-artifacts.png"></img>
                        </div>
                        <br/>
                        <div>
                            Entry point
                            <img class="img-rounded" src="~/Content/images/Tutorial/start.png"></img>
                        </div>
                        <br/>
                        <div>
                            Exit point
                            <img class="img-rounded" src="~/Content/images/Tutorial/finish.png"></img>
                        </div>
                        <br/>
                        <p>
                            Enty/Exit points representation in map coordinates.
                        </p>
                        <div>
                            <img class="img-rounded" src="~/Content/images/Tutorial/map-navigation.png"></img>
                        </div>
                    </div>
                    <div>
                        <h4 id="gameplay-process">Game process</h4>
                        <p>
                            Each player can only see the area around it, so bots will not start with a full view of the map.<br/>
                            Each turn the bot will be given the following information for all squares that are visible to him.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="page-header">
                        <h2 id="game-settings">Game settings</h2>
                    </div>
                    <p>
                        These are the settings given to the engine specifying the various options for how the game will be played.<br/>
                        Note the list here containts default values. Some of them may be overidden dynamically before being given to the engine depending of player's state and stuff.
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LoadingTime</td>
                                <td>1000ms</td>
                            </tr>
                            <tr>
                                <td>Turns</td>
                                <td>2000 qty</td>
                            </tr>
                            <tr>
                                <td>TurnTime</td>
                                <td>500 ms</td>
                            </tr>
                            <tr>
                                <td>ViewRadius</td>
                                <td>4 tiles</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="page-header">
                        <h2 id="game-specification">Game specification</h2>
                    </div>
                    <div>
                        <h4 id="game-specification-setup">Setup</h4>
                        <p>
                            Each bot is sent some starting information for the game, including map size, max turns and turn timings. After all bots are ready, the game will start.
                        </p>
                    </div>
                    <div>
                        <h4 id="game-specification-turns">Turns</h4>
                        <p>
                            Once each of the bots has indicated it has finished setting up, the game engine performs the following steps repeatedly:<br/>
                        </p>
                        <ul>
                            <li>Send the game state to the players</li>
                            <li>Receive orders from the players</li>
                            <li>Perform the phases and update the game state</li>
                            <li>Check for endgame conditions</li>
                        </ul>
                        <p>
                            There is a specified maximum turn limit for each map.<br/>

                            A turn is defined as the above steps. They are performed up to the maximum number of turns times and then the game stops. 
                        </p>
                    </div>
                    <div>
                        <div>
                            <h4 id="game-specification-phases">Phases</h4>
                            <p>
                                After receiving complete orders from the players, the engine then updates the game state, advancing the game to the next turn. The following phases exists:<br/>
                            </p>
                            <ul>
                                <li>Validate orders</li>
                                <li>Execute orders (move)</li>
                            </ul>
                            <p>
                                There is a specified maximum turn limit for each map.<br/>

                                A turn is defined as the above steps. They are performed up to the maximum number of turns times and then the game stops. 
                            </p>
                        </div>
                        <div>
                            <h4 id="game-specification-endbotconditions">Endbot Conditions</h4>
                            <p>
                                Any of the following conditions will cause a player to finish participating in a game:<br/>
                            </p>
                            <ul>
                                <li>The bot issued order to move outside game location</li>
                                <li>The bot crashed</li>
                                <li>The bot exceeded the time limit without completing its orders</li>
                            </ul>
                            <p>
                                If a bot crashes or times out on a given turn then move received from that bot will not be executed for that turn.
                            </p>
                        </div>
                        <div>
                            <h4 id="game-specification-scoring">Scoring</h4>
                            <p>
                                The objective of the game is to get the highest score.<br/>
                                Each player have 1000 pts at start and it can increase or decrease based on rules below:
                            </p>
                            <div>
                                <ul>
                                    <li>
                                        <p>
                                            Moving across map <b>decreases</b> your score by cost of each tile you moving
                                        </p>
                                        <img class="img-rounded" src="~/Content/images/Tutorial/move-cost.png"/>
                                        <p>
                                            In the following case a player's score will decrease by <i>3 + 3 + 3 + 8 + 8  = </i>25 pts.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Finding an artifact <b>increases or decreases</b> your score by cost of artifact
                                        </p>
                                        <img class="img-rounded" src="~/Content/images/Tutorial/objects-chests.png"/>
                                        <p>
                                            Notes: Chests are can be empty. Artifacts are can have <b>negative cost</b> if they influence badly on a player.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Finding an exit from location <b>increases</b> your score by 1000 pts
                                        </p>
                                        <img class="img-rounded" src="~/Content/images/Tutorial/move-exit.png"/>
                                    </li>
                                    <li>
                                        <p>
                                            Each 2 <i>saved</i> turn gives you an extra pts in case you find an exit from location.
                                        </p>
                                        <p>
                                            Example: <i>Turns</i> parameter has 2000 qty. You have found an exit on 846 turn. Your score increases by <i>(2000 - 846) / 2 = </i>577 pts.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="page-header">
                        <h2 id="artifacts">Artifacts</h2>
                    </div>
                    <p>
                        Each artifact has it's own cost (pts) and possitive/nevative influence on a player.
                    </p>
                    <div>
                        <img class="img-rounded" src="~/Content/images/Tutorial/artifacts.png"></img>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th></th>
                                <th>Name</th>
                                <th></th>
                                <th>Speed</th>
                                <th>Vision</th>
                                <th>Weight</th>
                                <th>Cost</th>
                              </tr>
                            </thead>
                            <tbody>
                                @{
                                    var artifacts = DomainContext.Instance.RepositoryFactory.GetArtifactRepository().GetAll();
                                    foreach (var artifact in artifacts)
                                    {
                                        <tr>
                                            <td>@artifact.Id</td>
                                            <td>
                                                <img class="img-rounded" src="@(Url.Action("Image", "Content", new { path = artifact.IconPath }))"/>
                                            </td>
                                            <td>
                                                @artifact.Name
                                            </td>
                                            <td></td>
                                            <td>@{
                                                    if (artifact.SpeedBonus.HasValue)
                                                    {
                                                        @: @(new MvcHtmlString(string.Format("{2}{0}{1}{3}%",
                                                            artifact.SpeedBonus.Value > 0.0 ? "+" : string.Empty,
                                                            artifact.SpeedBonus.Value * 100,
                                                            artifact.SpeedBonus.Value < 0.0 ? "<b>" : string.Empty,
                                                            artifact.SpeedBonus.Value < 0.0 ? "</b>" : string.Empty)))
                                                    }
                                                }
                                            </td>
                                            <td>@{
                                                    if (artifact.VisionBonus.HasValue)
                                                    {
                                                        @: @(new MvcHtmlString(string.Format("{2}{0}{1}{3}%",
                                                            artifact.VisionBonus.Value > 0.0 ? "+" : string.Empty,
                                                            artifact.VisionBonus.Value * 100,
                                                            artifact.VisionBonus.Value < 0.0 ? "<b>" : string.Empty,
                                                            artifact.VisionBonus.Value < 0.0 ? "</b>" : string.Empty)))
                                                    }
                                                }
                                            </td>
                                            <td>@artifact.Weight kg</td>
                                            <td>@artifact.Cost pts</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="page-header">
                        <h2 id="starter-package-overview">Starter package overview</h2>
                    </div>
                    <div>
                        <h4 id="starter-package-overview-class-location">class Location</h4>
                        <p>
                            Specified position in maps coordinates.
                        </p>
                        <table class="table">
                            <thead>
                                <th style="width: 20px;"></th>
                                <th style="width: 250px;">Name</th>
                                <th>Description</th>
                            </thead>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Row</td>
                                <td>Row index</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Col</td>
                                <td>Column index</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h4 id="starter-package-overview-class-player">class Player : <a href="#starter-package-overview-class-location">Location</a></h4>
                        <p>
                            Represents player and his position.
                        </p>
                        <table class="table">
                            <thead>
                                <th style="width: 20px;"></th>
                                <th style="width: 250px;">Name</th>
                                <th>Description</th>
                            </thead>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Id</td>
                                <td>Unique player's identifier</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Team</td>
                                <td>Represents team identificator. <i>In current version there is no command mode yet.</i></td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>ViewRadiusBonus</td>
                                <td>Additional view radius which adds to default view radius (%). <i>Artifacts usually add this.</i></td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>SpeedBonus</td>
                                <td>Additional speed bonus (%). <i>Artifacts usually add this.</i></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h4 id="starter-package-overview-class-chest">class Chest : <a href="#starter-package-overview-class-location">Location</a></h4>
                        <p>
                            Chest usually has artifact in it.
                        </p>
                        <table class="table">
                            <thead>
                                <th style="width: 20px;"></th>
                                <th style="width: 250px;">Name</th>
                                <th>Description</th>
                            </thead>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Id</td>
                                <td>Unique chest's identifier (in map context)</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h4 id="starter-package-overview-interface-igamestate">interface IGameState</h4>
                        <p>
                            Provides game state. <i>Player's dependent.</i>
                        </p>
                        <table class="table">
                            <thead>
                                <th style="width: 20px;"></th>
                                <th style="width: 250px;">Name</th>
                                <th>Description</th>
                            </thead>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Width</td>
                                <td>Width of the map</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Height</td>
                                <td>Height of the map</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>LoadingTimeRemaining</td>
                                <td>Allowed loading time remaining (ms)</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>TimeRemaining</td>
                                <td>Allowed turn time remaining (ms)</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Turn</td>
                                <td>Current turn number</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Turns</td>
                                <td>Maximum available turns count</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>ViewRadius</td>
                                <td>View radius (tiles)</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/property_icon.gif"/></td>
                                <td>Player</td>
                                <td>Player's representation (location)</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>Aim</td>
                                <td>Gets location by destination</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>IsPassable</td>
                                <td>Checks whether is passable or not</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>GetPassCost</td>
                                <td>Gets cost of moving on this location</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>IsVisible</td>
                                <td>Checks if visible</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>IsEnemy</td>
                                <td>Checks if enemy</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>IsChest</td>
                                <td>Checks if chest</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>IsExit</td>
                                <td>Checks if exit from location</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>GetDestination</td>
                                <td>Gets destination location</td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>GetDistance</td>
                                <td>Gets distance between locations</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h4 id="starter-package-overview-interface-ibot">interface IBot</h4>
                        <p>
                            Bot definition.
                        </p>
                        <table class="table">
                            <thead>
                                <th style="width: 20px;"></th>
                                <th style="width: 250px;">Name</th>
                                <th>Description</th>
                            </thead>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>Load</td>
                                <td>Loading step. You can load / cache / calculate all data you needed. Be aware that time is limited by <i>LoadingTime</i></td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>DoTurn</td>
                                <td>Performing step and return direction in which player should be moved. This time is limited by <i>TurnTime</i></td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>Unload</td>
                                <td>Unload previously loaded resources.</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h4 id="starter-package-overview-class-mybot">class MyBot : <a href="#starter-package-overview-interface-ibot">IBot</a></h4>
                        <p>
                            Your bot implementation.
                        </p>
                        <table class="table">
                            <thead>
                                <th style="width: 20px;"></th>
                                <th style="width: 250px;">Name</th>
                                <th>Description</th>
                            </thead>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>Load</td>
                                <td>Loading step. You can load / cache / calculate all data you needed. Be aware that time is limited by <i>LoadingTime</i></td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>DoTurn</td>
                                <td>Performing step and return direction in which player should be moved. This time is limited by <i>TurnTime</i></td>
                            </tr>
                            <tr>
                                <td><img src="~/Content/images/Tutorial/method_icon.gif"/></td>
                                <td>Unload</td>
                                <td>Unload previously loaded resources.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
